<div class="header-bar">
		<h2 class="header">DATABOARD</h2>

		<form class="header searchbar" onclick="return false">
			<input id="search-bar" type="text" placeholder="Search for games...">
			<button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
		</form>

		<div class="tabs">
			<a class="home-tab" href="/home">Home</a>
			<div class="midtab">
				<a class="dropdown-toggle" data-toggle="dropdown">Categories</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/new_releases">New Releases</a></li>
					<li><a href="/trending">Trending</a></li>
					<li><a href="/party">Party</a></li>
					<li><a href="/family">Family</a></li>
					<li><a href="/card">Card</a></li>
					<li><a class="kids" href="/kids">Kids</a></li>
				</ul>
			</div>
			<a href="/contact">Contact Us</a>
		</div>
	</div>

	<input class="back-btn" type="image" onclick="history.go(-1);"
		src="https://cdn3.iconfinder.com/data/icons/mobile-friendly-ui/100/back_arrow-512.png" width="30px"
		height="30px">