<html>

<head>

	<title>Data Board - New Releases</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="css/contact.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/searchbar.js"></script>
	<script src="js/contact.js"></script>

</head>

<body>
	
	{{> headerbar}}

	<h1 class="contact-title">Contact Us!</h1>

	<p class="contact-description">If you would like a game to be added to the database or have any other questions or
		inquiries, please contact us using this form!</p>

	<div class="contact-form">
		<form onclick="return false">
			<label>Name</label>
			<input id="form-name" class="user-input" type="text" placeholder="Your name..">

			<label>Topic of Inquiry</label>
			<input id="form-topic" class="user-input" type="text" placeholder="Topic...">

			<label>Subject</label>
			<textarea id="form-message" class="user-input user-response"
				placeholder="Write your message here ..."></textarea>

			<input class="submit-btn" type="submit" onclick="sendMail();">
		</form>
	</div>

	{{> socialmedia}}

</body>

</html>