<html>

<head>

	<title>Data Board - Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="css/home.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/facebook.js"></script>
	<script src="js/home.js"></script>
	<script src="js/searchbar.js"></script>

	<!-- Google Analytics -->
	<script>
		(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-158614295-2', 'auto');
		ga('require','GTM-KCH2Q3N');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->

</head>

<body>
	{{#if viewAlt}}
	<img class="header topimg" src="images/Green_Puzzle.png"></img>
	<h1 class="header headertxt">DATABOARD</h1>
	<img class="header topimg topimgbig" src="images/Yellow_Puzzle.jpg"></img>

	<p class="description">A database for card and board games</p>

	<a onclick="changeName()" style="text-decoration: none;"><p class="user-name">{{users.0.name}}</p></a>

	<li class="links dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" style="margin-left:20px;">Categories<span
				class="caret"></span></a>
		<ul class="dropdown-menu" role="menu" style="left:11px;">
			<li><a class="botborder" href="/new_releases">New Releases</a></li>
			<li><a class="botborder" href="/trending">Trending</a></li>
			<li><a class="botborder" href="/party">Party</a></li>
			<li><a class="botborder" href="/family">Family</a></li>
			<li><a class="botborder" href="/card">Card</a></li>
			<li><a href="/kids">Kids</a></li>
		</ul>
	</li>
	<a class="links new-releases" href="/contact"
		style="margin-top:150px;color: #00D8D0;margin-left:80px;margin-top:60px;">Contact Us</a>

	<form class="searchbar" onclick="return false" style="margin-top:130px;margin-bottom:200px;">
		<input id="search-bar" type="text" placeholder="Search for games...">
		<button class="search-btn search-btn-a" type="submit"><i class="fa fa-search"></i></button>
	</form>

	{{> socialmedia}}

	{{else}}
	<img class="header topimg" src="images/Green_Puzzle.png"></img>
	<h1 class="header headertxt">DATABOARD</h1>
	<img class="header topimg topimgbig" src="images/Yellow_Puzzle.jpg"></img>

	<p class="description">A database for card and board games</p>

	<a onclick="changeName()" style="text-decoration: none;"><p class="user-name">{{users.0.name}}</p></a>

	<a class="links new-releases" href="/new_releases">New Releases</a>
	<li class="links dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown">Categories<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><a class="botborder" href="/party">Party</a></li>
			<li><a class="botborder" href="/family">Family</a></li>
			<li><a class="botborder" href="/card">Card</a></li>
			<li><a href="/kids">Kids</a></li>
		</ul>
	</li>

	<img class="centerimg" src="images/Center_Puzzle.jpg"></img>

	<a class="links linksbot trending" href="/trending">Trending</a>
	<a class="links linksbot contact" href="/contact">Contact Us</a>

	<form class="searchbar" onclick="return false">
		<input id="search-bar" type="text" placeholder="Search for games...">
		<button class="search-btn search-btn-b" type="submit"><i class="fa fa-search"></i></button>
	</form>

	{{> socialmedia}}

	{{/if}}

</body>

</html>