<html>

<head>

	<title>Data Board - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="css/login.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="/js/facebook.js"></script>

</head>

<body>

	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=178284870069060&autoLogAppEvents=1">
		</script>

	<img class="header topimg" src="images/Green_Puzzle.png"></img>
	<h1 class="header headertxt">DATABOARD</h1>
	<img class="header topimg topimgbig" src="images/Yellow_Puzzle.jpg"></img>

	<p class="description">A database for card and board games</p>

	<img class="centerimg" src="images/Center_Puzzle.jpg"></img>

	<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"
		data-auto-logout-link="false" data-layout="default" data-use-continue-as="false"
		onLogin="checkLoginState();checkLoginState();">
	</div>

	{{> socialmedia}}

</body>

</html>